.panel {
  z-index: 10;
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 10px;
  background: white;
}

.button_wrapper {
  display: flex;
}

.button {
  border: 4px solid #0633ff;
  background: white;
  border-radius: 4px;
  text-align: center;
  padding: 15px 20px;
  flex: 1;
}

.button:hover {
  color: white;
  background: #0633ff;
  transition: 0.3s;
}
